.root {
    -fx-background-color: #f4f4f4;
    -fx-font-family: "Arial";
}

.pregunta-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.resultado-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}